* {
    background: url("https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/v960-ning-30.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=63dd5f402645ef52fb7dfb592aec765a") no-repeat fixed center;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    overflow: auto;
}

.navbar {
    padding: 30px;
    border-bottom: .5px solid black;
}

.navLinks {
   float: right;
}

.homeLink {
    color: black;
    text-decoration: none;
    float: left;
    font-size: 20px;
    
}

.aboutLink {
    color: black;
    text-decoration: none;
}

.projectsLink {
    color: black;
    text-decoration: none;
    padding-right: 40px;
}

a:hover {
    font-weight: 900;
}

.home-info {
    text-align: left;
    font-size: 60px;
    padding: 80px 20px 80px; 
} 

.aboutMe {
    padding: 0 40px;
    font-weight: 100;
}

#greeting {
    font-size: 38px;
}

#main-skills {
    padding-top: 30px;
}

#github {
    width: 100px;
}

#deployed-site {
    padding-bottom: 22px;
    width: 55px;
}

a {
    text-decoration: none;
    color: black;
}

footer {
    display: flex;
    justify-content: space-between;
    width: 95%;
    border-top: .5px solid black;
    padding: 20px;
    position: fixed;
    bottom: 0;
}
 
#icon {
    width: 25%;
    height: 250px;
    float: left;
    padding-top: 60px;
    padding-left: 20px;
    padding-right: 40px;
}

#project-title {
    padding-top: 60px;
    padding-bottom: 20px;
    padding-left: 30px;
    font-size: 35px;
    font-weight: bold;
}

#project-description {
    padding-left: 35px;
}

.frontend-skills {
    float: left;
}

.backend-skills {
    float: right;
    padding-right: 300px;
}

#profile-pic-div {
    float: right;
    width: 50%;
    padding-top: 50px;
    text-align: center;
    height: 500px;
}

#profile-pic {
    height: 100%
}

.aboutMeDescription {
    float: left;
    width: 50%;
}

ul {
    padding-bottom: 10px;
    margin: 0;
}